@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Write your own custom base styles here */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1 {
    @apply text-3xl font-bold md:text-5xl font-primary;
  }

  h2 {
    @apply text-2xl font-bold md:text-4xl font-primary;
  }

  h3 {
    @apply text-xl font-bold md:text-3xl font-primary;
  }

  h4 {
    @apply text-lg font-bold font-primary;
  }

  body {
    @apply text-sm font-primary md:text-base;
  }

  .layout {
    /* 750px */
    /* max-width: 43.75rem; */

    /* 1100px */
    max-width: 68.75rem;
    @apply w-11/12 mx-auto;
  }

  .toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68d391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68d391;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #903ff9, #7510f7);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
  }
  .animated-underline:hover,
  .animated-underline:focus {
    background-size: 0 2px, 100% 2px;
  }

  .background-pattern {
    background-color: #ffffff;
    opacity: 0.1;
    background-image: radial-gradient(#7510f7 0.75px, transparent 0.75px),
      radial-gradient(#7510f7 0.75px, #ffffff 0.75px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
  }
}
